<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='diet.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DietADV</title>

</head>
<body>
    <div id="container">
        <h1 class="highlight">High Protein Foods</h1>
        <img id="foods" src="https://i.etsystatic.com/37824016/r/il/971513/4241004015/il_1140xN.4241004015_dii3.jpg" alt="May include: A chart titled 'Protein Sources Chart' with nutrition facts per 100g of each item. The chart is divided into 5 columns and 4 rows. Each cell contains a food item and its protein content. The food items include chicken breast, egg, cottage cheese, pork chop, Greek yogurt, lean beef, salmon, chicken drumstick, chicken thigh, ahi tuna, black beans, lentils, chickpeas, peas, pumpkin seeds, tofu, shrimp, bison, NY strip, and rib eye.">
    </div>

</body>
</html>


